{{- $remote:= env "REMOTE_CONTAINERS" | not | not -}}

{{ if $remote }}
sourceDir = "~/dotfiles"
{{ end }}

[data]
  remote = {{ $remote }}
  name = "Dan Mills"
  {{- if $remote }}
  email = "dmills@qumulo.com"
  {{- else }}
  email = {{ promptString "email" | quote }}
  {{- end }}

{{- if not $remote }}
[git]
  autoCommit = true
  autoPush = true
{{- end }}

[diff]
  command = "code"
  args= ["--wait", "--diff"]
