{{- $remote:= env "REMOTE_CONTAINERS" | not | not -}}
{{- $coder:= env "CODER" | not | not -}}
{{- $codespaces:= env "CODESPACES" | not | not -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  remote = {{ any $remote $coder }}
  codespaces = {{ $codespaces }}
  name = "Dan Mills"
  {{- if (any $remote $coder) }}
  email = "dmills@qumulo.com"
  {{- else if $codespaces }}
  email = "evilhamsterman@gmail.com"
  {{- else }}
  {{ $email := promptStringOnce . "email" "What is your email address"}}
  email = {{ $email | quote }}
  {{- end }}

{{- if not $remote }}
[git]
  autoCommit = true
  autoPush = true
{{- end }}

[diff]
  command = "code"
  args= ["--wait", "--diff"]
