{{- $remote:= env "REMOTE_CONTAINERS" | not | not -}}
{{- $codespaces:= env "CODESPACES" | not | not -}}

{{ if $remote or $codespaces }}
sourceDir = {{ .chezmoi.sourceDir | quote }}
{{ end }}

[data]
  remote = {{ $remote }}
  name = "Dan Mills"
  {{- if $remote }}
  email = "dmills@qumulo.com"
  {{- else if $codespaces }}
  email = "evilhamsterman@gmail.com"
  {{- else }}
  email = {{ promptString "email" | quote }}
  {{- end }}

{{- if not $remote }}
[git]
  autoCommit = true
  autoPush = true
{{- end }}

[diff]
  command = "code"
  args= ["--wait", "--diff"]
