# Ignore everything
*
# Reinclude directories
!*/

# Reinclude the specific files I need
!/.gitignore
!starship.toml
!fish/fishfile
!fish/conf.d/00-env.fish
!fish/conf.d/01-packages.fish
!backgrounds/nord-background.png
!/sway/*
!/kitty/*
!/ranger/*
