#!/bin/sh

{{ if (eq .chezmoi.os "linux") }}
{{ if (eq .chezmoi.osRelease.id "arch") }}
# Arch Linux setup
# Check for and install yay
if ! command -v yay &> /dev/null
then
    echo "Installing YAY"
    git clone https://aur.archlinux.org/yay.git /tmp/yay
    cd /tmp/yay
    makepkg -si --noconfirm
fi

# Install other packages
PKGS="starship fish tmux mosh fzf bitwarden-cli-bin python-pre-commit"
yay -S $PKGS --noconfirm --needed

# Make sure shell is set to fish
if ! getent passwd dan | awk -F: '{print $NF}' | grep -q fish
then
    chsh -s /usr/bin/fish
    echo "Shell changed relogin"
fi
{{ end }}
{{ else if (eq .chezmoi.os "darwin") }}
# MacOS Setup
# Install Homebrew
if ! command -v brew &> /dev/null
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
fi

brew bundle --no-lock --file=/dev/stdin << EOF
tap "buo/cask-upgrade"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
brew "bitwarden-cli"
brew "exa"
brew "fish"
brew "fzf"
brew "ipcalc"
brew "mas"
brew "mosh"
brew "mtr"
brew "pre-commit"
brew "starship"
brew "step"
brew "tmux"
cask "font-fira-code-nerd-font"
cask "google-chrome"
cask "iterm2"
cask "powershell"
cask "signal"
cask "visual-studio-code"
mas "Microsoft Remote Desktop", id: 1295203466
mas "Yubico Authenticator", id: 1497506650
EOF

{{ end }}
