Host *
  {{ if (eq .chezmoi.os "darwin") }}
  UseKeychain yes
  {{ end }}
  AddKeysToAgent yes

# Remote VM
Host dmills-remote
  HostName dmills-remote.corp.qumulo.com
  ForwardAgent yes
  User dmills
Host dmills-remote-cfw
  HostName dmills-remote-cfw.corp.qumulo.com
  ForwardAgent yes
  User dmills

# vCenter
Host it-vc*
  PreferredAuthentications password
  PubkeyAuthentication no

Host vc-poc.corp.qumulo.com
  PreferredAuthentications password
  PubkeyAuthentication no

# Qumulo devices
Host *.qumulo.com
  User dmills

# Home Devices
Host *.mills.haus
  User dan

# To use ScaleFT proxycommand, add this configuration block to your $HOME/.ssh/config
{{ if eq .chezmoi.os "linux" }}
Match exec "/usr/bin/sft resolve -q  %h" !user git
  ProxyCommand "/usr/bin/sft" proxycommand  %h
  UserKnownHostsFile {{.chezmoi.homeDir}}/.local/share/ScaleFT/proxycommand_known_hosts
{{ else if eq .chezmoi.os "darwin" }}
Match exec "/usr/local/bin/sft resolve -q  %h" !user git
  ProxyCommand "/usr/local/bin/sft" proxycommand  %h
  UserKnownHostsFile "{{.chezmoi.homeDir}}/Library/Application Support/ScaleFT/proxycommand_known_hosts"
{{ end }}