AddKeysToAgent yes
ForwardAgent yes
{{ if (eq .chezmoi.os "darwin") }}
UseKeychain yes
{{ end }}

# Include extras
Include config.d/*

# vCenter
Host it-vc*
  PreferredAuthentications password
  PubkeyAuthentication no

Host vc-poc.corp.qumulo.com
  PreferredAuthentications password
  PubkeyAuthentication no

# Qumulo devices
Host *.qumulo.com
  User dmills

# Home Devices
Host *.mills.haus
  User dan

