Host *
  {{ if (eq .chezmoi.os "darwin") }}
  UseKeychain yes
  {{ end }}
  AddKeysToAgent yes
  ForwardAgent yes

# vCenter
Host it-vc*
  PreferredAuthentications password
  PubkeyAuthentication no

Host vc-poc.corp.qumulo.com
  PreferredAuthentications password
  PubkeyAuthentication no

# Qumulo devices
Host *.qumulo.com
  User dmills

# Home Devices
Host *.mills.haus
  User dan
