###############################
# Setup environment variables #
###############################

# Set XDG values if they aren't set
set -q XDG_CONFIG_HOME; or set XDG_CONFIG_HOME ~/.config

# Load fish packages
if status is-interactive && not functions --query prepend_sudo
    fisher update
end

# Load Starship Prompt if available
set starship_installed false
if type -q starship
    starship init fish | source
end

# Disable fish greeting
set fish_greeting

# Add $HOME/.local/bin to PATH and make sure it exists
# if test
set -l local_bin $HOME/.local/bin
fish_add_path $local_bin
if not test -d $local_bin
    mkdir -p $local_bin
end

# Load check for fzf for enhancd
set fzf_installed false
if not type -q fzf
    echo "Install fzf for full cd fun"
    set -gx ENHANCD_COMMAND ecd
end

# Disable enhancd on .. - and blank cd
set -gx ENHANCD_DISABLE_DOT 1
set -gx ENHANCD_DISABLE_HOME 1

# Setup Go paths
if type -q go
    set -gx GOPATH (go env GOPATH)
    fish_add_path $GOPATH/bin
end
# Set editor based on local or remote
if type -q code
    set -gx EDITOR code --wait
else
    set -gx EDITOR vim
end

if type -q pre-commit
    if not test -e $HOME/.config/git-template/hooks/pre-commit
        mkdir -p $HOME/.config/git-template/
        pre-commit init-templatedir $HOME/.config/git-template
    end
end

# Kubernetes shortcuts
if type -q kubectl
    alias k=kubectl
end

if type -q kubie
    alias kns="kubie ns"
    alias kctx="kubie ctx"
end

{{/* Linux stuff */}}
{{if eq .chezmoi.os "linux"}}
# If we are in a Linux desktop use Gnome Keyring for SSH
if not test -z $DESKTOP_SESSION
    set -gx (gnome-keyring-daemon --start | string split "=")
end

# Connect to Windows ssh-agent if running in WSL
if not test -z $WSL_DISTRO_NAME
    set -gx SSH_AUTH_SOCK "$HOME/.ssh/agent.sock"
    if not ss -a | grep -q $SSH_AUTH_SOCK
        rm -f $SSH_AUTH_SOCK
        setsid socat UNIX-LISTEN:$SSH_AUTH_SOCK,fork EXEC:"/mnt/c/Users/dan/.local/bin/npiperelay.exe -ei -s //./pipe/openssh-ssh-agent",nofork &
    end
end
{{ end }}

{{/* MacOS Stuff */}}
{{ if eq .chezmoi.os "darwin" }}
# Add homebrew sbin
fish_add_path /usr/local/sbin

# Source gcloud tools
source /usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.fish.inc

# Add local Python site to PATH
fish_add_path (python3 -m site --user-base)/bin

{{ end }}
